<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogIt</title>
    <link rel="stylesheet" href="/stylesheets/src/output.css">
    <!-- dont use public in path name, as public folder itself become the root of static files -->
</head>
<body class="h-screen w-screen bg-cyan-950 overflow-hidden">


    <div class="create h-fit max-w-screen bg-cyan-900 m-16 text-white flex flex-col gap-5 rounded-xl p-5 shadow-2xl">

        <h1 class="font-bold">New Post</h1>

        <form action="/newpost" method="post" class="flex flex-col gap-5">
            <input type="text" placeholder="Title" class="rounded-xs border-2 border-white py-3 px-2 bg-gray-200 text-black" name="title">

            <textarea name="content" placeholder="Write something here..." class="resize-none border-2 border-white rounded-xs py-3 px-2 bg-gray-200 text-black"></textarea>

            <button class="py-2 px-3 bg-teal-600 rounded-xs hover:bg-teal-700 cursor-pointer hover:scale-[0.98] font-bold hover:shadow-2xl">Post</button>
        </form>

    </div>



    <div class="posts">
        <div class="post">
            
        </div>
    </div>
    
</body>
</html>